:root{
    --primary-color: navy;
    --secondary-color: rgb(84, 228, 238); 
    --tertiary-color: chartreuse;

    --radius-md: 8px;
}

h1{
    text-align: center;
    color: red;
}

div.button-container{
    background-color: var(--primary-color);
    margin: 100px auto;
    width: 300px;
    height: 50px;

    display: flex;
    padding: 10px 20px;
    justify-content: space-around;
    gap: 5px;
}

div.button-container>button{
    flex: 1;
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 700;
    background-color: transparent;
    border: 5px solid var(--secondary-color);
    border-radius: var(--radius-md);
    cursor: pointer;
}

div.button-container>button:hover{
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

div.button-container>button:first-child{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

div.button-container>button:last-child{
    border-radius: var(--radius-md) 30px 30px var(--radius-md);
}