* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: red;
  margin: 20px 0;
}

.box {
  width: 100px;
  height: 100px;
  border: 3px solid mediumvioletred;
  margin: 10px auto;
}

.box1 {
  background-color: red;
  transition: background-color 5s;
}

.box1:hover {
  background-color: blue;
}

.box2{
    background-color: mediumpurple;
}

.box2:hover{
    background-color: blue;
    transition: all 5s;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

.ball1 {
  transform: translateX(400px);
  transition: transform 3s ease 3s;
}

.ball2 {
  transform: translateX(400px);
  transition: transform 3s ease-in 3s;
}
.ball3 {
  transform: translateX(400px);
  transition: transform 3s ease-out 3s;
}
.ball4 {
  transform: translateX(400px);
  transition: transform 3s linear 3s;
}
.ball5 {
  transform: translateX(400px);
  transition: transform 3s ease-in-out 3s;
}

.btn-box{
    width: 200px;
    margin: 20px auto;
}

.btn{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 3px solid #333;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    margin-bottom: 100px;

}

button.btn:hover{
    background-color: orange;
    color: #333;
    transition: all .5s;
}

button.btn:active{
    background-color: mediumturquoise;
    font-weight: 900;
    transform: rotate(360deg) scale(2) translateY(20px);
    transition:  all  1s;
} 