* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #333;
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: red;
}

.box {
  width: 200px;
  height: 200px;
}

.box-1 {
  background-color: mediumvioletred;

  /* position absolute elementi html'e relative olarak konumlandırır. top, bottom, left, right değerleriyle gerekli hizalamalar yapılır.  */
  position: absolute;
  top: 0;
  left: 0;

  /* z-index fazlaysa element önde gözükür. */
  z-index: 1;
}

.box-2 {
  background-color: mediumspringgreen;
  width: 220px;
  height: 220px;
  position: relative;
  z-index: 0;

}

.container {
  height: 50vh;
  background-color: #555;

  /* position relative, elementin içerisinde bulunan child elementlerden birisi position absolute aldıysa html yerinde kendisi uyarınca konumlandırılmasını sağlar. */
  position: relative;
  
}

div.box-3{
    height: 50vh;
    background-color: cyan;
    position: relative;

}

div.box-3 img{
    width: 100px;
    height: 100px;

    position: absolute;
    top: -50px;
    left: 0;


}