:root{
    --color1: rgb(70,180,240);
    --color2: goldenrod;
    --color3: rgb(50,50,50);
    --color4: rgb(230,230,230);
    --color5: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header.topbar{
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--color4);
    font-size: 1.2rem;
}

header.topbar ul,
section.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

header.topbar ul li a{
    text-decoration: none;
    color: var(--color4);
}

header.topbar ul li a:hover{
    color: var(--color1);
    cursor: pointer;
}

section.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--color4);
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 5px solid var(--color2);
}

section.navbar img{
    width: 150px;
    height: auto;
}

section.navbar ul li a{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
    cursor: pointer;    
    padding: 5px;
}

section.navbar ul li a:hover{
    background-color: var(--color3);
    color: var(--color4);
    border-radius: 10px;
}

section.slider{
    background-image: url("../../assets/img/gunesin_dogusu_ve_batisi.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

section.slider h2{
    font-size: 2rem;
    color: var(--color4);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: difference;
}

main p{
    text-align: justify;
    margin: 20px auto;
    padding: 15px;
}

div.icon{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 3rem;
    background-color: var(--color5);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

div.icn a,
.fa-whatsapp{
    text-decoration: none;
    color: var(--color4);
}

.fa-whatsapp:hover{
    color: white;
}