h1{
    text-align: center;
    color: red;
}

.container{
    background-color: #333;
    height: 80vh;

    display: flex;
    /* DEFAULT => flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */

    gap: 10px;

    /* başlangıca hizalar */
    /* align-content: baseline; */

    /* align-content: center; */
    /* align-content: flex-end; */
    /* align-content: flex-start; */
    /* align-content: safe; */
    /* align-content: stretch; */
}

.box1{
    background-color: greenyellow;
    width: 120px;
    height: 120px;

}

.box2{
    background-color: rgb(47, 255, 231);
    width: 120px;
    height: 120px;
    
}

.box3{
    background-color: rgb(255, 168, 47);
    width: 120px;
    height: 120px;
    
}

.box4{
    background-color: rgb(47, 102, 255);
    width: 120px;
    height: 120px;
    
}

.box5{
    background-color: rgb(255, 109, 47);
    width: 120px;
    height: 120px;
    
}

.box6{
    background-color: rgb(158, 47, 255);
    width: 120px;
    height: 120px;
    
}